.App {
  text-align: center;
  background-image: url("./images/Hero_Aribanetworkforsuppliers.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
